<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="../icons8-consumption-96.png">
    <title>Expense Tracker</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <!-- header -->
    <div class="container sm:w-full max-w-7xl border border-blue-400 max-h-5xl text-center p-3 text-2xl bg-gray-200 mb-4">
        Forgot password
    </div>

    <!-- main -->
    <main id="content" role="main" class="w-full max-w-md mx-auto p-6">
        <div class="mt-7 bg-white  rounded-xl shadow-xl dark:bg-gray-800 dark:border-gray-700 ">
          <div class="p-4 sm:p-7">
            <div class="text-center">
              <h1 class="block text-2xl font-bold text-gray-800 dark:text-white">Forgot password?</h1>
              <p class="mt-2 text-sm text-gray-600 dark:text-gray-400">
                Remember your password?
                <a class="text-blue-600 decoration-2 hover:underline font-medium" href="./login.html">
                  Login here
                </a>
              </p>
            </div>
    
            <div class="mt-5">
              <form id="forgetPasswordForm">
                <div class="grid gap-y-4">
                  <div>
                    <label for="email" class="block text-sm font-bold ml-1 mb-2 dark:text-white">Email address</label>
                    <div class="relative">
                      <input type="email" id="email" name="email" class="py-3 px-4 block w-full border-2 border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 shadow-sm" required aria-describedby="email-error">
                    </div>
                  </div>
                  <button type="submit" class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md  font-semibold bg-[#002D74] text-white hover:bg-blue-600 hover:scale-110 duration-300 ">Reset password</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        
      </main>

      <script src="../js/forgotPassword.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>
</body>
</html>